<h1>Leaderboard</h1>

<table class="table">
  <tr>
    <th>Place</th>
    <th>User</th>
    <th>High Score</th>
  </tr>
  <% counter = 1 %>
  <% @leaders.each do |key, value| %>
    <tr>
      <td><%= counter %></td>
      <td><%= key %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
</table>
