<h1>Leaderboard</h1>

<table class="table">
  <tr>
    <th class="col-md-1">Place</th>
    <th class="col-md-1">User</th>
    <th class="col-md-1">High Score</th>
  </tr>
  <% counter = 1 %>
  <% @leaders.each do |user| %>
    <tr>
      <td class="col-md-1"><%= counter %></td>
      <td class="col-md-1"><%= user[0].username %></td>
      <td class="col-md-1"><%= user[1] %></td>
      <% counter += 1 %>
    </tr>
  <% end %>
</table>
