/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";

 h1 {
   font-size: 80px;
   font-weight: bold;
   margin-bottom: 30px;
   display: block;
   float: left;
 }

 html, body {
   margin: 0;
   padding: 0;
   background: #faf8ef;
   color: #776e65;
   font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
   font-size: 18px;
 }

 .navbar {
    background: #f2b179;
    border-width: 0px 0px 2px 0px;
    border-color: #bbada0;
    border-radius: 0;
 }

 .navbar a {
   text-decoration: none;
 }

 .table {
   width: 75%;
 }

 .score-container {
   -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
 }

 .best-container {
   -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
 }
